* {
  margin: auto;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  margin: auto;
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 60px;
  height: 60px;
  position: relative;
  margin-left: 0px;
}

.black {
  background-color: #ac8966;
}

.white {
  background-color: #ebd9b7;
}

.selected {
  background-color: #ced07d;
}

h3 {
  text-align: center;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(73, 154, 73);
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}
